/* font-family: 'Bungee Spice', cursive;
font-family: 'Righteous', cursive;
font-family: 'Teko', sans-serif; */

body {
    background-color: black;
    display: flex;
    align-items: left;
    justify-content: left;
    min-height: 0vh;
}

.Heading {
    width: 100%;
}

.Heading {
    font-family: 'Bungee Spice', cursive;
    padding: 20px 50px;
    /* text-shadow: #0000FF; */
}

.Content {
    font-size: 39px;
}
.head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-left: 500px;
}

.h2 {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 80px;
    margin-top: 1%;
    
}
.bts{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 10%;
}
#play{
    display: inline-flex;
    flex-wrap: wrap;
    font-family: 'Bungee Spice', cursive;
    border-color:orange;
    text-align: center;
    margin-left: 35%;
    margin-bottom: 20%;
}
#sound{
    display: inline-flex;
    width: 20%;
    height: 40px;
    color: black;
    margin-left: 20%;
}
#beat{
    align-items: center;
    width: 20%;
    size: 20%;

}
.btn2 {
    margin-left: 40%;
    margin-bottom: 10%;
    width: 20%;
    font-family:'Bungee Spice', cursive; ;
    font-size: 30px;
    padding: 10px;
    background: black;
    border-color:black;

}

@keyframes simple {
    33% {
        background-color: yellow;
    }
    66% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}

.btn {
    display: inline;
    font-size: 25px;
    
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background-color: burlywood !important;
}
.btn1 {
    margin-left: 80px;

}

.btn1:hover {
    background-color: chocolate;
    animation-name: simple;
    animation-duration: 5s;
}



.btn2:hover {
    background-color: chocolate;
    border-color: orange;
    animation-name: simple;
    animation-duration: 5s;
}

#modal1 {
    font-size: 25px;
}

.modal-dialog {
    margin: 0px auto;
}
#modalheader{
    font-size: 40px;
    font-weight: bold;
}

.reset {
    width: 100px;
    cursor: pointer;
    border: none;
    font-size: 15px;

}

body {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 100vh;

}

.MainBox {
    background: white;
    
}

.MainBox {
    margin: 5px;
    font-size: 25px;
    font-weight: 400;
    padding: 50px 50px;
    border: 5px solid black;
}

.h1 {
    font-size: 30px;
    color: black;
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    margin-top: 2%;

}

.MainBox .inputBox {
    margin: 25px 25px 35px;
}

.inputBox .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.inputs input {
    height: 80px;
    width: 80px;
    margin: 5px;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-radius: 9px;
    background: white;
    border: 5px solid black;
}

.right {
    background-color: #64e064 !important;
}
.Details {
    margin: 20px 0px 25px;
}

.HelpDetails p {
    font-size: 25px;
    margin-bottom: 10px;
}

.HelpDetails .hint-text {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}
.hint-text span {
    text-decoration: underline;
}
.HelpDetails-ext {
    text-align: center;
}

.image {
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

.image-ext{
   margin-left: 350px;
}

.wrong {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-bottom: 10px;
    font-size: 25px;
    
}
.wrongCount {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 25px;


}
#helpModal{
    margin-left: 20px;
}

.MainBox .reset {
    justify-content: center;
}

.buttonlist {
    text-align: center;
}

.play, .reset {
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: 20%;
    font-size: 25px;
    padding: 10px;
    background: black;
}


.reset:hover {
    background-color: black
}

.MainBox .cards {
    margin: 25px 25px 35px;
}

.cards .cardInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.cardInput .input {
    height: 170px;
    width: 130px;
    margin: 10px;
    font-size: 50px;
    font-weight: 400px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 5px solid black;
    background: url('/images/cardsDesign.jpg') no-repeat;
    cursor:pointer;
    border: none;
    background-size: 150%; /* To fill the dimensions of container (button), or */
    background-size: 130px auto;
}


