body{
    background-color: black;
}
.head{
    text-align: center;
    margin-top: 50px;
}
.h2{
    font-family: 'Bungee Spice', cursive;
    font-weight: 50%;
    font-size: 50px;
}
.MainBox {
    background: white;
    width: 50%;
    height: 50%;
}
.MainBox {

    margin-top:  200px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 50px;
    border: 5px solid black;
}